#p1{
  font-family: Arial;
  font-weight: bold;
    font-size: 12px;
}

#p2{
  font-family: Verdana;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;

}

#p3{
  font-family: Courier New;
    font-size: 12px;
    background-color: cadetblue;
    color: white;

}

#p4{
  font-family: Verdana;
  font-size: 16px;
  text-align: right;
  background-color: black;
  text-decoration: underline;
  color: white;
}
